#root {
  /* max-width: 1280px; */
  /* max-width: 1700px; */
  max-width: auto;
  min-width: auto;
  margin: 0 auto;
  text-align: center;
  /* text-shadow: 0 0 1px #7474749a, 0 0 2px rgb(95, 95, 95); */
  color: rgba(38, 38, 38, 0.826);
}

@media screen and (max-width: 480px) {

  #root {
    width: auto;
  }
}