:root {
    /* --breakpoint-mobile: 350px; */

    /* max width for mobile */
    --breakpoint-mobile: 600px;
    /* min width for table */
    --breakpoint-tablet: 768px;
    /* min width for desktop */
    --breakpoint-desktop: 1024px;
}