.OuterWeatherDiv {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    /* justify-content: space-between; */
    flex-wrap: wrap;
}

.ConditionText {
    font-size: 4.5rem;
}

.InnerWeatherDiv {
    display: flex;
    justify-content: center;
    max-width: 30rem;
    flex-wrap: wrap;
    margin: auto;
    padding-bottom: 5rem;
}

@media screen and (max-width: 480px) {
    .OuterWeatherDiv {
        flex-direction: column;
        justify-content: space-between;
    }

    .ConditionText {
        font-size: 2rem;
        padding-bottom: 2rem;
    }
}